@use 'colors' as *;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-padding-top: 110px;
	scroll-behavior: smooth;
}

body {
	position: relative;
	font-size: 1.6rem;
	background-color: $bg-color;
}

.wrapper {
	margin: 0 auto;
	width: min(100%, 1200px);
}

.block-scroll {
	overflow-y: hidden;
}

.header {
	position: fixed;
	width: 100%;
	z-index: 999;

	.navbar {
		height: 100px;
		background-color: $bg-color;
		width: 100%;

		.wrapper {
			display: flex;
			justify-content: space-between;
			align-items: center;
			height: 100%;
		}

		.navbar__logo,
		.hamburger {
			margin: 0 0.75em;
		}

		&__logo {
			&-img {
				width: 100px;
			}
		}

		&__menu {
			position: fixed;
			top: 100px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			height: calc(100vh - 80px);
			width: 100%;
			background-color: $bg-color;
			transform: translateX(-150%);
			transition: transform 0.5s ease-out;
			z-index: 999;

			&-item {
				padding: 1.25em;
				width: 100%;
				font-family: 'Montserrat', sans-serif;
				font-size: 1.9rem;
				color: $pure-white;
				text-align: center;
				text-decoration: none;
				transition: color 0.3s;

				img {
					width: 30px;
					height: 30px;
				}

				&:hover {
					color: $theme-blue;
				}

				&--facebook {
					svg {
						width: 30px;
						height: 30px;

						path {
							transition: fill 0.3s;
						}
					}

					&:hover {
						background-color: $bg-color;
					}
				}

				&--facebook:hover svg path {
					fill: $theme-blue;
				}
			}
		}
	}

	.show-mobile-nav {
		transform: translateX(0);
	}

	.nav-items-animation {
		animation: navItemsAnimation 1s both;
	}
}

main {
	.section {
		padding: 3em 1em;
	}

	.company-name {
		margin-bottom: 0.25em;
		font-family: 'Montserrat', sans-serif;
		font-size: 1.7rem;
		font-weight: 600;
		color: $theme-red;
		text-transform: uppercase;
	}

	.main-heading,
	.subheading {
		position: relative;
		font-family: 'Montserrat', sans-serif;
		font-weight: 600;
		color: $pure-white;
		text-transform: uppercase;
	}

	.main-heading {
		font-size: 3.3rem;
	}

	.subheading {
		font-size: 2.6rem;
	}

	.subheading-description {
		margin: 0.5em 0;
		font-family: 'Poppins', sans-serif;
		font-weight: 600;
		color: $pure-white;
		max-width: 350px;
	}

	.default-text {
		font-family: 'Montserrat', sans-serif;
		font-size: 1.8rem;
		font-weight: 500;
		color: $pure-white;
	}

	.cta-button {
		margin-top: 0.75em;
		padding: 0.9em 1.8em;
		font-family: 'Montserrat', sans-serif;
		font-size: 1.5rem;
		color: $pure-white;
		background-color: $theme-red;
		border: none;
		border-radius: 32px;
		transition: background-color 0.3s;
		cursor: pointer;

		&:hover {
			background-color: $theme-blue;
		}
	}

	.welcome-section {
		padding-top: 100px;

		.promotion-swiper {
			width: 100%;
			height: 70px;

			.swiper-wrapper {
				display: flex;
				align-items: center;
				transition-timing-function: linear;

				.swiper-slide {
					display: flex;
					align-items: center;
					justify-content: center;
					padding: 1em;
					font-family: 'Montserrat', sans-serif;
					font-size: 1.5rem;
					font-weight: 700;
					color: $pure-white;
					text-align: center;
					cursor: pointer;

					&--promotion {
						font-size: 1.3rem;
					}
				}

				.swiper-slide:nth-child(even) {
					background-color: $theme-blue;
				}

				.swiper-slide:nth-child(odd) {
					background-color: $theme-red;
				}
			}
		}

		.main-swiper {
			width: 100%;
			height: 450px;

			.swiper-wrapper {
				.swiper-slide {
					position: relative;
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					justify-content: flex-end;
					padding: 2em 1.5em;
					background-position: 50% 90%;
					background-size: cover;
					background-repeat: no-repeat;

					&--first-slide {
						background-image: url('../img/slide-1.webp');
					}

					&--second-slide {
						background-image: url('../img/slide-2.webp');
					}

					&--third-slide {
						background-image: url('../img/slide-3.webp');
					}

					&__shadow {
						position: absolute;
						top: 0;
						right: 0;
						bottom: 0;
						left: 0;
						background-color: rgba(0, 0, 0, 0.8);
						transition: background-color 0.4s ease-out;
					}

					&.swiper-slide-next .swiper-slide__shadow {
						background-color: rgba(0, 0, 0, 0.4);
					}
				}

				.swiper-slide.swiper-slide-next .company-name,
				.swiper-slide.swiper-slide-next .subheading,
				.swiper-slide.swiper-slide-next .subheading-description,
				.swiper-slide.swiper-slide-next .cta-button {
					position: relative;
					z-index: 1;
				}
			}
		}
	}

	.about-us {
		overflow: hidden;

		.wrapper {
			.about-box {
				position: relative;
				display: flex;
				flex-direction: column;
				align-items: center;
				margin-top: 2em;

				&__text {
					.default-text:not(:last-child) {
						margin-bottom: 0.75em;
					}
				}

				&__image {
					margin-top: 2em;
					width: 95%;
					max-width: 450px;
				}

				&__decoration-img {
					display: none;
					position: absolute;
					right: -180px;
					bottom: -150px;
					width: 800px;
					z-index: -1;
				}
			}

			.about-box-images {
				display: flex;
				flex-direction: column;
				align-items: center;
				margin-top: 2em;

				&__photo {
					width: 95%;
				}

				&__photo:nth-child(1) {
					margin-bottom: 2em;
				}
			}

			.about-safety {
				margin-top: 3em;

				.default-text:first-of-type {
					margin-top: 2em;
				}

				.default-text:not(:last-child) {
					margin-bottom: 0.75em;
				}
			}
		}
	}

	.offers {
		background-color: $bg-color-dark;

		.wrapper {
			.offers-box {
				display: flex;
				flex-direction: column;
				margin-top: 2em;

				&__element {
					display: flex;
					flex-direction: column;

					&-img {
						aspect-ratio: 5/3;
						object-fit: cover;
					}

					&-text {
						&-title {
							margin-top: 1em;
							font-family: 'Montserrat', sans-serif;
							font-size: 2.1rem;
							font-weight: 600;
							color: $theme-blue;
							text-transform: uppercase;
						}

						&-description {
							margin-top: 0.5em;
							font-size: 1.4rem;
						}

						.cta-button {
							margin-top: 1.25em;
						}
					}
				}

				.offers-box__element:not(:last-child) {
					margin-bottom: 3em;
				}
			}
		}
	}

	.testimonials {
		background-color: $bg-color-dark;

		&-two {
			position: relative;

			.testimonials-swiper {
				margin-top: 2em;

				.swiper-wrapper {
					.swiper-slide {
						display: flex;
						flex-direction: column;
						justify-content: space-around;
						padding: 1em;
						border: 2px solid $theme-blue;
						border-radius: 8px;

						.stars-box {
							margin-top: 0.5em;
							margin-bottom: 1em;

							&__star {
								margin: 0 -0.15em;
								width: 25px;
								height: 25px;
							}
						}

						.testimonial,
						.testimonial-author {
							color: $pure-white;
						}

						.testimonial {
							margin-bottom: 1.25em;
							font-family: 'Montserrat', sans-serif;
							font-size: 1.5rem;
						}

						.testimonial-author {
							margin-bottom: 0.5em;
							font-family: 'Poppins', sans-serif;
							font-size: 1.6rem;
							font-weight: bold;
						}
					}
				}

				.swiper-button-prev,
				.swiper-button-next {
					display: none;
				}

				.swiper-button-prev::after,
				.swiper-button-next::after {
					font-size: 3rem;
					color: $theme-blue;
				}
			}

			.swiper-pagination {
				.swiper-pagination-bullet {
					background: $theme-blue;
				}
			}
		}
	}
}

.footer {
	background-color: #0a0a0a;

	.footer-up {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 2em 1em 1em 1em;

		&__logo {
			width: 40%;
		}

		&__box {
			margin-top: 2em;
			width: 100%;

			&-part {
				h3,
				p {
					font-family: 'Montserrat', sans-serif;
					color: $pure-white;
				}

				h3 {
					margin-bottom: 0.5em;
				}

				p {
					margin: 0.4em 0;
				}

				.footer-mail {
					display: flex;
					align-items: center;

					img {
						margin-right: 0.5em;
						width: 25px;
						height: 25px;
					}
				}

				.footer-phone {
					display: flex;
					align-items: center;

					img {
						margin-right: 0.5em;
						width: 25px;
						height: 25px;
					}
				}
			}
		}

		.footer-up__box-part:not(:last-child) {
			margin-bottom: 1.75em;
		}
	}

	.footer-down {
		padding: 1em;
		font-family: 'Poppins', sans-serif;
		color: $pure-white;
		background-color: #0d0d0d;
		text-align: center;

		&__left {
			a {
				color: $pure-white;
				text-decoration: underline;
			}
		}

		&__right {
			p {
				a {
					color: $pure-white;
					text-decoration: underline;
				}
			}
		}
	}
}

@keyframes navItemsAnimation {
	from {
		transform: translateX(-130%);
	}

	to {
		transform: translateX(0);
	}
}
