@use 'colors' as *;

@media (max-width: 768px) {
	main {
		.main-heading {
			font-size: 2.9rem;
		}

		.subheading {
			font-size: 2.5rem;
		}

		.default-text {
			font-size: 1.6rem;
		}

		.welcome-section {
			.main-swiper {
				.swiper-wrapper {
					.swiper-slide {
						.company-name,
						.subheading,
						.subheading-description,
						.cta-button {
							position: relative;
							z-index: 1;
						}

						&__shadow {
							background-color: rgba(0, 0, 0, 0.4);
						}
					}
				}
			}
		}
	}
}

@media (min-width: 768px) {
	.header {
		.navbar {
			height: 140px;

			&__logo {
				&-img {
					width: 130px;
				}
			}

			&__menu {
				position: static;
				top: inherit;
				flex-direction: row;
				justify-content: flex-end;
				height: 80px;
				width: inherit;
				background-color: $bg-color;
				transform: translateX(0);

				&-item {
					display: flex;
					align-items: center;
					justify-content: center;
					padding: 0 1.25em;
					height: 100%;
					width: auto;
					font-size: 1.6rem;
					font-weight: 600;
				}
			}

			.hamburger {
				display: none;
			}
		}
	}

	main {
		.welcome-section {
			padding-top: 140px;

			.promotion-swiper {
				.swiper-wrapper {
					.swiper-slide {
						font-size: 1.6rem;

						&--promotion {
							font-size: 1.4rem;
						}
					}
				}
			}
		}

		.offers {
			.wrapper {
				.offers-box {
					&__element {
						flex-direction: row;
						align-items: center;

						&-img {
							width: 50%;
						}

						&-text {
							margin-left: 1em;

							&-title {
								margin-top: 0;
							}
						}
					}
				}
			}
		}
	}

	.footer {
		.footer-up {
			padding: 2em;

			&__logo {
				width: 30%;
			}
		}

		.footer-down {
			padding: 1.5em;

			.wrapper {
				display: flex;
				justify-content: space-between;
			}

			&__left {
				display: flex;

				p {
					margin-right: 1em;
				}
			}
		}
	}
}

@media (min-width: 992px) {
	.header {
		.navbar {
			height: 140px;

			&__logo {
				&-img {
					width: 140px;
				}
			}

			&__menu {
				height: 100%;
			}
		}
	}

	main {
		.welcome-section {
			.promotion-swiper {
				.swiper-wrapper {
					.swiper-slide {
						&--promotion {
							font-size: 1.5rem;
						}

						&--check {
							width: 11% !important;
						}
					}
				}
			}
		}

		.about-us {
			.wrapper {
				.about-box {
					flex-direction: row;
					align-items: flex-start;
					margin-top: 3em;

					&__image {
						margin-top: 0;
						padding-left: 1.5em;
					}

					&__decoration-img {
						display: block;
					}
				}

				.about-box-images {
					flex-direction: row;
					justify-content: space-between;

					&__photo {
						width: 49%;
					}

					&__photo:nth-child(1) {
						margin-bottom: 0;
					}
				}
			}
		}

		.offers {
			.wrapper {
				.offers-box {
					&__element {
						&-img {
							width: 40%;
						}

						&-text {
							margin-left: 2em;

							&-title {
								font-size: 2.2rem;
							}

							&-description {
								margin-top: 1em;
								font-size: 1.5rem;
								max-width: 550px;
							}

							.cta-button {
								margin-top: 1.75em;
							}

							.custom-max-width-one {
								max-width: 330px;
							}

							.custom-max-width-two {
								max-width: 140px;
							}
						}
					}

					.offers-box__element:not(:last-child) {
						margin-bottom: 4em;
					}
				}
			}
		}

		.testimonials {
			.wrapper {
				display: flex;
				align-items: flex-start;
				justify-content: space-between;

				.testimonials-two {
					max-width: 600px;

					.testimonials-swiper {
						margin-top: 0;

						.swiper-wrapper {
							.swiper-slide {
								padding: 1em 4em;

								.stars-box {
									margin-top: 1em;
								}

								.testimonial {
									margin-bottom: 1.7em;
									font-size: 1.7rem;
								}

								.testimonial-author {
									font-size: 1.8rem;
								}
							}
						}

						.swiper-button-prev,
						.swiper-button-next {
							display: flex;
						}
					}

					.swiper-pagination {
						display: none;
					}
				}
			}
		}
	}

	.footer {
		.footer-up {
			padding: 2em 0 1em 0;

			&__logo {
				width: 15%;
			}

			&__box {
				display: flex;
				justify-content: space-between;
				margin-top: 3em;

				&-part {
					h3 {
						font-size: 2rem;
					}

					p {
						font-size: 1.7rem;
					}
				}
			}
		}
	}
}

@media (min-width: 1600px) {
	main {
		.offers {
			&__decor {
				display: block;
			}
		}
	}
}
