@use 'colors' as *;

@media (min-width: 768px) {
	.header {
		.navbar {
			&__menu {
				position: static;
				top: inherit;
				flex-direction: row;
				justify-content: flex-end;
				height: 80px;
				width: inherit;
				background-color: $bg-color;
				transform: translateX(0);

				&-item {
					display: flex;
					align-items: center;
					justify-content: center;
					padding: 0 1.25em;
					height: 100%;
					width: auto;
					font-size: 1.6rem;
					font-weight: 600;
				}
			}

			.hamburger {
				display: none;
			}
		}
	}
}

@media (min-width: 992px) {
	.header {
		.navbar {
			height: 140px;

			&__logo {
				&-img {
					width: 140px;
				}
			}

			&__menu {
				height: 100%;
			}
		}
	}
}
